.forgotPassword {
  text-decoration: none;
  color: #757474;
}
.socialApps {
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  // color: rgb(136, 90, 6);
}
.google:hover {
  color: #f3b605;
}
.linkedIn:hover {
  color: #0170ad;
}

.ant-modal-content,
.forget-model {
  max-width: 80%;
}


.cl-internal-1dauvpw{
  display: none;
}

.cl-cardBox ,.cl-signUp-start {
  // width: 30rem;
}
