.forgotPassword {
  text-decoration: none;
  color: #757474;
}
.socialApps {
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  // color: rgb(136, 90, 6);
}
.google:hover {
  color: #f3b605;
}
<<<<<<< HEAD
<<<<<<< HEAD
.linkedIn:hover{
    color:#0170AD;
=======
.linkedIn:hover {
  color: #0170ad;
>>>>>>> be8bcddf2e6a08e445d8894e8cfad51e26efb244
}
=======
.linkedIn:hover {
  color: #0170ad;
}

.ant-modal-content,
.forget-model {
  max-width: 80%;
}
<<<<<<< HEAD
>>>>>>> be8bcddf2e6a08e445d8894e8cfad51e26efb244
=======
>>>>>>> be8bcddf2e6a08e445d8894e8cfad51e26efb244
