
.ant-carousel .slick-dots li {
  background-color: #135f80 !important;
//   padding: 0.5rem;
width: 30px;
height: 10px;
border-radius: 9px;
}
.ant-carousel .slick-dots li button {
  background-color: #77d1c8 !important;
  border-radius: 9px;
  width: 30px;
  height: 10px;
}

